<%- include("../partials/head", {title: "Lounge", cssFile:"css/lounge.css"}) %>

<body>
  <header class="header">
    <div class="logo-wrapper">
      <img
        src="img/app/logo.png"
        alt="logo"
        class="logo"
        width="128px"
        height="128px"
      />
    </div>
    <nav>
      <div class="menu-toggle">&#9776;</div>
      <ul>
        <li class="tab tab-active" data-tab="home" id="home">Home</li>
        <li class="tab" data-tab="todo">Todo</li>
        <li class="tab" data-tab="pomodoro">Pomodoro</li>
        <li class="tab" data-tab="stopwatch">Stopwatch</li>
        <!-- <li class="tab" data-tab="ranking">Rank</li> -->
      </ul>
      <i class="fa-solid fa-gear"></i>
    </nav>
  </header>
  <main>
    <%- include("./home") %> <%- include("./todo") %> <%- include("./pomodoro")
    %> <%- include("./stopwatch") %>
  </main>

  <script src="js/lounge/lounge.js"></script>
  <script>
    const logo = document.querySelector(".logo");
    const navUl = document.querySelector("nav ul");

    logo.addEventListener("mousemove", (e) => {
      const { width, height, left, top } = logo.getBoundingClientRect();
      const x = e.clientX - left;
      const y = e.clientY - top;

      const rotateX = ((y / height - 0.5) * 15).toFixed(2);
      const rotateY = ((x / width - 0.5) * 15).toFixed(2);

      logo.style.transform = `rotateX(${-rotateX}deg) rotateY(${rotateY}deg) scale(1.05)`;
    });

    logo.addEventListener("mouseleave", () => {
      logo.style.transform = "rotateX(0deg) rotateY(0deg) scale(1)";
    });

    // mobile
    const menuToggle = document.querySelector(".menu-toggle");
    const navMenu = document.querySelector("nav ul");

    menuToggle.addEventListener("click", () => {
      navMenu.classList.toggle("show");
    });

    document.querySelector("body").addEventListener("click", (e) => {
      const target = e.target.closest(".header");
      if (!target) {
        navMenu.classList.remove("show");
      }
    });
  </script>
</body>
